body {
    max-width: 1200px;
    margin: auto;
  }
  header {
    border: 8px solid black;
  }
  nav {
    background-color: rgb(44, 63, 89);
    border: 3px solid black;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  nav ul li {
    background-color: rgb(235, 84, 85);
    list-style-type: none;
    margin: 3px;
  }
  #banner {
    border: 3px solid black;
    background-color: rgb(240, 123, 62);
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #banner h1 {
    margin: 0;
    background-color: rgb(254, 213, 96);
    width: 100%;
    text-align: center;
  }

  main {
    border: 8px solid black;

    display: flex;
    flex-direction: row;
    width: 100%;
  }
  article {
    border: 3px solid black;
    background-color: rgb(77, 77, 106);
    width: 80%;
    margin: 2px 0px px 0px;
  }
  aside {
    border: 3px solid black;
    background-color: rgb(248, 62, 81);
    width: 20%;
  } 

  aside li {
    background-color: rgb(255, 234, 133);
    margin: 2px;
    width: 80%;
    list-style-type: none;
    text-align: center;
  }
  article {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .temp {
    background-color: rgb(31, 108, 176);
    width: 40%;
    height: 15px;
  }
  .temp2 {
    background-color: rgb(112, 163, 196);
    width: 80%;
    height: 15px;
  }
  footer {
    background-color: rgb(230, 175, 45);
    text-align: center;
    border: 8px solid black;
  }
 
  /*Tauleta*/
  @media only screen and (max-width: 800px) {
    main {
      border: 8px solid rgb(255, 247, 52);

      display: flex;
      flex-direction: column;
    }
    article,
    aside {
      border: 3px solid rgb(255, 247, 52);
      width: 100%;
    }
  } /*mobil*/
  @media only screen and (max-width: 500px) {
    nav ul {
      display: flex;
      flex-direction: column;
    }
    nav ul li {
      width: 80%;
    }

    article {
      flex-direction: column;
    }
    .temp,
    .temp2 {
      width: 80%;
    }
  }
  /** {
    border: unset !important;
  }*/