body {
  max-width: 1200px;
  margin: auto;
}
header {
  border: 8px solid black;
}
nav {
  border: 3px solid black;
  background-color: rgb(238, 13, 130);
  color: white;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul div {
  display: flex;
  justify-content: space-around;
  margin: 0;
  gap: 5px;
}
nav ul div li {
  list-style-type: none;
  margin: 3px;
  font-size: 1.1em;
}
nav ul div:first-child {
  width: 80%;
}
nav ul div:last-child {
  margin-right: 25px;
}
nav ul div i {
  list-style-type: none;
  margin: 3px;
}
#banner {
  border: 3px solid black;
  background-image: url("https://i.picsum.photos/id/378/800/300.jpg?hmac=IxxnwUhbHZGJGSiQ2XbB-ELTkWTbhL5D0kbKc3f3HkQ");
  background-size: cover;
  width: 100%;
  height: 120px;
  max-width: 1200px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner h1 {
  margin: 0;
  width: 100%;
  text-align: center;
  color: white;
}

main {
  border: 8px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
}
article {
  width: 75%;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
}
.producto {
  width: 180px;
  display: flex;
  flex-direction: column;
}
.producto h2 {
  margin: 0px;
}
.producto p {
  margin: 0px;
}
.producto img {
  width: 180px;
}

.precio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
aside {
  border: 3px solid black;
  width: 20%;
}
aside li {
  margin: 2px;
  width: 80%;
  list-style-type: none;
  text-align: center;
}
footer {
  text-align: center;
  border: 8px solid black;
  display: flex;
  flex-direction: row;
}
.column-footer:first-child ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  gap: 3px;
}
.column-footer:first-child ul li {
  background-color: darkgreen;
  margin: 0;
}
.column-footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
/*Tauleta*/
@media only screen and (max-width: 800px) {
  main {
    border: 8px solid rgb(255, 247, 52);

    display: flex;
    flex-direction: column;
  }
  article,
  aside {
    border: 3px solid rgb(255, 247, 52);
    width: 100%;
  }
} /*mobil*/
@media only screen and (max-width: 500px) {
  nav {
    border: 3px solid black;
    background-color: rgb(238, 13, 130);
    color: white;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul div:first-child {
    flex-direction: column;
    width: 80%;
  }
  nav ul div:last-child {
    margin-right: 25px;
  }
  nav ul div li {
    text-align: center;
  }
  nav ul div i {
    list-style-type: none;
    margin: 3px;
  }
  article {
    flex-direction: column;
  }
}
* {
  border: unset !important;
  margin: 0 auto;
}
